body {
  margin: 20px;
  font-family: sans-serif;
}

header h1 {
  font: 400 60px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

.app > div {
  background: #f5f5f5;
  border: 1px solid #DDD;
  padding: 16px;
  margin-top: 10px;
  font-size: 40px;  
  font-weight: 400;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);  
}
  
#app__react {
  font-family: 'Oleo Script', Helvetica, sans-serif;
  background-color: #2d2d2d;
  color: #61dafb;
}

#app__elm {
  font-family: 'Lobster Two', Helvetica, sans-serif;
  background-color: #60b5cc;
  color: #34495E;
} 

#app__reasonml {
  font-family: 'Leckerli One', Helvetica, sans-serif;
  background-color: #db4d3f;
  color: #fff;
}

#app__purescript {
  font-family: 'Great Vibes', Helvetica, sans-serif;  
  background-color: #1d222d;
  color: #fff;  
}

#app__vue {
  font-family: 'Cookie', Helvetica, sans-serif;
  background-color: #41b883;
  color: #35495e;  
}

#app__angular {
  font-family: 'Berkshire Swash', Helvetica, sans-serif;  
  color: #ffffff;
  background-color: #c3002f;  
}